<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\Proyecto_PGI-CS5\venv\Scripts\python.exe|E:\Proyecto_PGI-CS5\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="E:\Proyecto_PGI-CS5\venv\Scripts\python.exe" arguments="E:\Proyecto_PGI-CS5\venv\Lib\site-packages\wfastcgi.py" />
        </fastCgi>
    </system.webServer>
</configuration>
