{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <!-- Vinculamos el archivo CSS externo -->
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <!-- Vinculamos el archivo JS externo -->
    <script src="{% static 'toggleWeaponNumber.js' %}"></script>
</head>
<body>
    <video autoplay muted loop id="video-background">
        <source src="{% static 'multimedia/fondologin.mp4' %}" type="video/mp4">
        Tu navegador no soporta videos HTML5
    </video>
    <h1>CENTRO DE SINERGÍA CIBERNÉTICA DE LAS FUERZAS POLICIALES Y DE SEGURIDAD FEDERAL</h1>
    <h2>Formulario de Registro Nuevos Miembros</h2>

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="name">Nombre y Apellido: </label>
        <input type="text" id="name" name="name" required>

        <label for="dni">DNI: </label>
        <input type="number" id="dni" name="dni" required>

        <label for="legajo">Legajo Personal: </label>
        <input type="text" id="legajo" name="legajo" required>

        <label for="address">Dirección: </label>
        <input type="text" id="address" name="address" required>

        <label for="email_institucional">Email Institucional: </label>
        <input type="email" id="email_institucional" name="email_institucional" required>

        <label for="email_personal">Email Personal: </label>
        <input type="email" id="email_personal" name="email_personal">

        <label for="phone_personal">Teléfono Particular: </label>
        <input type="number" id="phone_personal" name="phone_personal" required>

        <label for="phone_emergency">Teléfono en caso de Emergencia: </label>
        <input type="number" id="phone_emergency" name="phone_emergency" required>

        <label for="ffss">FFSS a la cual pertenece:</label>
        <select name="ffss" id="ffss">
            <option value=" "> </option>
            <option value="PREFECTURA NAVAL ARGENTINA">PREFECTURA NAVAL ARGENTINA</option>
            <option value="POLICIA FEDERAL ARGENTINA">POLICIA FEDERAL ARGENTINA</option>
            <option value="GENDARMERIA NACIONAL ARGENTINA">GENDARMERIA NACIONAL ARGENTINA</option>
            <option value="POLICIA DE SEGURIDAD AEROPORTUARIA">POLICIA DE SEGURIDAD AEROPORTUARIA</option>            
            <option value="SERVICIO PENITENCIARIO FEDERAL">SERVICIO PENITENCIARIO FEDERAL</option>
        </select>

        <label for="destinos">Destinos anteriores:</label>
        <textarea name="destinos" id="destinos" rows="5"></textarea>

        <label for="weapon_assigned">Armamento asignado: </label>
        <select name="weapon_assigned" id="weapon_assigned" onchange="toggleWeaponNumber()">
            <option value=" "> </option>
            <option value="si">Sí</option>
            <option value="no">No</option>
        </select>

        <label for="weapon_number">Número de Armamento:</label>
        <input type="text" id="weapon_number" name="weapon_number" disabled>

        <label for="studies">Estudios Cursados:</label>
        <textarea name="studies" id="studies" rows="5"></textarea>

        <label for="certificaciones">Certificaciones:</label>
        <textarea name="certificaciones" id="certificaciones" rows="5"></textarea>

        <label for="skills">Especialidades y/ó Herrramientas que maneja: </label>
        <textarea name="skills" id="skills" rows="5"></textarea>

        <label for="start_date">Fecha de designacion al CS5: </label>
        <input type="date" id="start_date" name="start_date" required>

        <label for="efectivizacion_date">Fecha de efectivización en el CS5: </label>
        <input type="date" id="efectivizacion_date" name="efectivizacion_date">

        <label for="experience">Experiencia Laboral Previa: </label>
        <textarea name="experience" id="experience" rows="5"></textarea>

        <label for="privi_AD">Privilegios | AD: </label>
        <select name="privi_AD" id="privi_AD">
            <option value=" "> </option>
            <option value="admin-grup">Administrador de Grupo</option>
            <option value="admin-it">Administrador IT</option>
            <option value="oper-grup">Operador de grupo | Estación</option>
        </select>

        <label for="grupo_AD">Grupo | AD:</label>
        <select name="grupo_AD" id="grupo_AD">
            <option value=" "> </option>
            <option value="cordinacion">COORDINACION</option>
            <option value="judiciales">JUDICIALES</option>
            <option value="UIAT">UIAT</option>
            <option value="UATO">UATO</option>
            <option value="LAFD">LAFD</option>
            <option value="UPDC">UPDC</option>
            <option value="ADMIN-IT">ADMINISTRACION IT</option>
        </select>

        <label for="unidad">Unidad a la que pertenece: </label>
        <select name="unidad" id="unidad">
            <option value=" "> </option>
            <option value="UIAT">UIAT - Unidad de investigaciones de Alta Tecnología</option>
            <option value="UATO">UATO - Unidad de Apoyo Técnico Operativo</option>
            <option value="LAFD">LAFD - Laboratorio de Análisis Forense Digital</option>
            <option value="UPDC">UPDC - Unidad de Prevencion Contra Delitos Ciberasistidos</option>
            <option value="CORDINACION">CORDINACIÓN</option>
        </select>

        <label for="ticket">Privilegio | Ticketera: </label>
        <select name="ticket" id="ticket">
            <option value=" "> </option>
            <option value="administrador">ADMINISTRADOR</option>
            <option value="supervisor">SUPERVISOR</option>
            <option value="desarrollador">DESARROLLADOR (INVESTIGADOR)</option>
            <option value="espectador">ESPECTADOR</option>
        </select>

        <button type="submit">Enviar</button>
    </form>

    <!-- <script src="{% static 'formulario.js' %}"></script> -->
</body>
</html>
